<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ContactForm ANY>
<!ATTLIST ContactForm id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1054" key="c09673d3-e7e7-4775-98db-595c9f536f66" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-04-17T11:51:23" updateDate="2014-04-17T11:51:23" nodeName="GB" urlName="gb" path="-1,1054" isDoc="" nodeType="1051" creatorName="Umbraco User" writerName="Umbraco User" writerID="0" template="1050" nodeTypeAlias="Site">
    <ContactForm id="1058" key="ae50e56d-bd3e-4b58-b3fe-b2b510ccefc7" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2014-04-17T11:57:00" updateDate="2014-04-17T13:58:32" nodeName="Contact Form" urlName="contact-form" path="-1,1054,1058" isDoc="" nodeType="1053" creatorName="Umbraco User" writerName="Umbraco User" writerID="0" template="1052" nodeTypeAlias="ContactForm">
      <emailTo><![CDATA[you@site.co.uk]]></emailTo>
      <subjectLine><![CDATA[Hello World]]></subjectLine>
      <messageFormat><![CDATA[Name: {{FirstName}}
Surname: {{Surname}}
Email: {{Email}}

Message:
{{Message}}]]></messageFormat>
    </ContactForm>
  </Site>
  <Site id="1055" key="ec02cb03-01fb-4df8-b663-9e3be6ef66bc" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-04-17T11:51:31" updateDate="2014-04-17T11:51:31" nodeName="DK" urlName="dk" path="-1,1055" isDoc="" nodeType="1051" creatorName="Umbraco User" writerName="Umbraco User" writerID="0" template="1050" nodeTypeAlias="Site">
    <ContactForm id="1057" key="6471a890-9256-441d-9b3c-198926621285" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2014-04-17T11:56:51" updateDate="2014-04-17T13:58:29" nodeName="Kontakt Formular" urlName="kontakt-formular" path="-1,1055,1057" isDoc="" nodeType="1053" creatorName="Umbraco User" writerName="Umbraco User" writerID="0" template="1052" nodeTypeAlias="ContactForm">
      <emailTo><![CDATA[you@site.dk]]></emailTo>
      <subjectLine><![CDATA[Hej World]]></subjectLine>
      <messageFormat><![CDATA[Name: {{FirstName}}
Surname: {{Surname}}
Email: {{Email}}

Message:
{{Message}}]]></messageFormat>
    </ContactForm>
  </Site>
  <Site id="1056" key="91f66d12-6449-447c-b699-ccbb082f3ef8" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2014-04-17T11:51:40" updateDate="2014-04-17T11:51:40" nodeName="FR" urlName="fr" path="-1,1056" isDoc="" nodeType="1051" creatorName="Umbraco User" writerName="Umbraco User" writerID="0" template="1050" nodeTypeAlias="Site">
    <ContactForm id="1059" key="5b781227-f697-4fe0-8a34-e6aaaa9456ec" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2014-04-17T11:59:03" updateDate="2014-04-17T13:58:26" nodeName="Formulaire de Contact" urlName="formulaire-de-contact" path="-1,1056,1059" isDoc="" nodeType="1053" creatorName="Umbraco User" writerName="Umbraco User" writerID="0" template="1052" nodeTypeAlias="ContactForm">
      <emailTo><![CDATA[you@site.fr]]></emailTo>
      <subjectLine><![CDATA[Bonjour World]]></subjectLine>
      <messageFormat><![CDATA[Name: {{FirstName}}
Surname: {{Surname}}
Email: {{Email}}

Message:
{{Message}}]]></messageFormat>
    </ContactForm>
  </Site>
</root>