_ReSharper.*
[Bb]in
[Bb]uild
[Oo]bj
*.suo
*.user
*.cache
*.orig
Thumbs.db
.DS_Store

Umbraco Validation Attributes/ExampleSite/App_Data/TEMP/
Umbraco Validation Attributes/ExampleSite/App_Data/Logs/
Umbraco Validation Attributes/packages/*/**
